* {
    margin: 0;
    padding: 0;
}
@import 'menu.css';

.linha {
    width: 100%;
    height: 10%;
    display: flex;
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: red;
}
.verde {
    width: 50px;
    height: 50px;
    background-color: green;
}
.azul {
    width: 50px;
    height: 50px;
    background-color: blue;
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: red;
}
.verde {
    width: 50px;
    height: 50px;
    background-color: green;
}
.azul {
    width: 50px;
    height: 50px;
    background-color: blue;
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: red;
}
.verde {
    width: 50px;
    height: 50px;
    background-color: green;
}
.azul {
    width: 50px;
    height: 50px;
    background-color: blue;
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: red;
}
.verde {
    width: 50px;
    height: 50px;
    background-color: green;
}
.azul {
    width: 50px;
    height: 50px;
    background-color: blue;
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: red;
}
.verde {
    width: 50px;
    height: 50px;
    background-color: green;
}
.azul {
    width: 50px;
    height: 50px;
    background-color: blue;
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: red;
}
.verde {
    width: 50px;
    height: 50px;
    background-color: green;
}
.azul {
    width: 50px;
    height: 50px;
    background-color: blue;
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: red;
}
.verde {
    width: 50px;
    height: 50px;
    background-color: green;
}
.azul {
    width: 50px;
    height: 50px;
    background-color: blue;
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: red;
}
.verde {
    width: 50px;
    height: 50px;
    background-color: green;
}
.azul {
    width: 50px;
    height: 50px;
    background-color: blue;
}
.vermelho {
    width: 50px;
    height: 50px;
    background-color: red;
}
.horizontal {
    width: 50px;
    height: 50px;
    background-color: green;
}
