:root {
    --fundo: rgb(209, 12, 12);
    --fonte: #fff;
    --hover: rgb(255, 153, 0);

}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
    background-color: var(--fundo);
    position: sticky;
    top: 0;
    width: 100vw;
}
.logo {
    display: inline-block;
    color: var(--fonte);
    font-size: 48px;
}
.nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--fundo);
    overflow: hidden;
}
.menu a {
    display: block;
    padding: 30px;
    color: var(--fonte);
}
menu a:hover {
    background-color: var(--hover);
}
