* {
    padding: 0;
    margin: 0;
}
:root {
    --cor-fundo: rgb(255, 102, 0);
    --cor-fonte: rgb(58, 128, 0);
    --cor-hover: rgb(0, 174, 255);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.header {
    
    background-color: var(--cor-fundo);
    position: sticky;
    top: 0;
    width: 100%;
}
.logo {
    display: inline;
    background-color: var(--cor-fundo);
}
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--cor-fundo);
}
.menu a {
    display: block;
    padding: 30px;
    color: var(--cor-fonte);
}
.menu a:hover{
    background-color: var(--cor-hover);
}
.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamb {
    cursor: pointer;
    float: right;
    padding: 35px 20px;
}
.hamb-line {
    background-color: var(--cor-fonte);
    display: block;
    height: 2px;
    position: relative;
    width: 23px;
}
.hamb-line::before,
.hamb-line::after{
    background-color: var(--cor-fonte);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;

}
.hamb-line::before {
    top: 5px;
}
.hamb-line::after {
    top: -5px;
}
.side-menu {
    display: none;
}

.side-menu:checked  ~ nav {
    max-height: 100%;
}
.side-menu:checked ~ .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}
#logo {
    width: 100px;
}

.conteudo {
    width: 100%;
    background-color: rgb(0, 238, 255);
}

.rodape {
    background-color: rgb(0, 255, 0);
    width: 100%;
    text-align: center;
}
.info-cinema {
    width: 100%;
    background-color: rgb(250, 138, 1);
}
.info-filme {
    width: 100%;
    background-color: rgb(141, 110, 69);
}
.info-filme-retro {
    width: 100%;
    background-color: rgb(252, 140, 3);
}
.info-destaque {
    width: 100%;
    background-color: rgb(146, 109, 61);
}
.img-estilo {
    width: 100%;
}
@media screen and (mind-width: 768px) {
    .menu {
        height: 120px;
        background-color: blue;
    }
    .conteudo {
        display: flex;
    }
}
@media screen and (min-width: 1028px) {
    .menu {
        height: 200px;
        background-color: aqua;
    }
    .conteudo {
        display: grid;
    }
}