* {
    padding: 0;
    margin: 0;
}
:root{
    --cor-fundo: rgb(0, 17, 255);
    --cor-fonte: rgb(250, 250, 250);
    --cor-hover: rgb(89,87,219);

}
a{
    text-decoration: none;
}
ul {    width: 100%;
    height: 60px;
}

.header {
  background-color:var(--cor-fundo);
  position: sticky;
  top: 0;
  width: 100%;
}
.logo{
    display: inline;
    background: var(--cor-fundo);

}
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--cor-fundo);
    overflow: hidden;
}
.menu a {
    display: block;
    padding: 30px;
    color: var(--cor-fonte);   
}
.menu a:hover{
 background-color: var(--cor-hover);

}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamb{
    cursor: pointer;
    float:right;
    padding: 35px 20px;

}
.hamb-line{
    background-color: var(--cor-fonte);
    display: block;
    height: 2px;
    position:relative;
    width: 24px;
}
.hamb-line::before,
.hamb-line::after{
    background-color: var(--cor-fonte);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.side-menu{
    display: none;
}
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}
#logo {
    width: 20%;
}
.conteudo {
    width: 100%;
    background-color: rgb(0, 238, 255);
}

.rodape {
    background-color: rgb(0, 255, 0);
    width: 100%;
    text-align: center;
}
.conteudo-info{
    display: flex;

}
.img-info{
    display: none;
}
.texto.info{
    padding: 5px;
}
.info-cinema {
    width: 100%;
    background-color: rgb(250, 138, 1);
}
.info-filme {
    width: 100%;
    background-color: rgb(141, 110, 69);
}
.info-filme-retro {
    width: 100%;
    background-color: rgb(252, 140, 3);
}
.info-destaque {
    width: 100%;
    background-color: rgb(146, 109, 61);
}
.img-estilo {
    width: 100%;
}
@media screen and (min-width: 768px) {
   .nav {
       max-height: none;
       top: 0;
       position: relative;
       float: right;
       width: fit-content;
       background-color: transparent;
   }
   .menu li {
       float: left;
   }
   .menu a:hover {
       background-color: transparent;
   }
   .hamb {
       display: none;
   }
   .conteudo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:"foto" "foto" ;
   }
   .img-info{
    display: block;
   }
}
